<section class="intro">
  <div class="n-i-box">
    <h1 class="n-i-title">Hello,</h1>
    <p class="n-i-subtitle">Je m'appelle Quentin Le Bras, je suis designer</p>
  </div>
</section>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <li class="pos-relative no-padding">
    <a href="/project/weroom.html.erb">
      <%= image_tag 'http://lorempixel.com/800/800/food/8' %>
    </a>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/9' %>
    <div class="thumbnail">
      <div class="n-t-table">   
        <div class="n-t-content">
          <h2 class="n-t-title">weroom</h2>
          <dt class="n-t-date">2015</dt>
        </div>
      </div>
    </div>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/1' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/2' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/3' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/4' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/5' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/6' %>
  </li>
  <li class="pos-relative no-padding">
    <%= image_tag 'http://lorempixel.com/800/800/food/7' %>
  </li>
</ul>